/* esta clase habla sobre el grid explicito*/
.grid-explicit {
    display: grid;
    /*grid de 3x3*/
    grid-template-columns: 50% 100px 1fr;
    grid-template-rows: 2rem 20vh 31%;
    /*grid de 5x4*/
    grid-template-columns: repeat(5, 20%);
    /*5 columnas de 20%*/
    grid-template-rows: repeat(4, auto);
    /*grid de 4x4 con porcentaje en auto*/
    grid-template-columns: repeat(4, 25%);
    /*5 columnas de 20%*/
    grid-template-rows: repeat(4, 1fr);
    /*con 1fr*/
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /*grid de 4 colums x 5rows*/
    grid-template-columns: 20% repeat(2, 30%) 20%;
    /*repeat solo cuando las columnas sean del mismo tamaño*/

    grid-template-rows: repeat(5, auto);

}

.grid-explicit .item:nth-child(10) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2/3;
    grid-column: 3/5;
    color: red;

}

/*con este elemnto queremos 3 celdas en columnas y en filas 2*/
.grid-explicit .item:nth-child(12) {
    color: cyan;
    grid-row: span 2;
    grid-column: span 3;

}

/*con este elemnto queremos 3 celdas en columnas y en filas 2*/
.grid-explicit .item:nth-child(15) {
    color: blue;
    grid-row: 1/span 2;

    grid-column: 2/span 3;

}